<footer class="bg-dark text-center fixed-bottom">
     <h5>GameCart</h5>
  2018 All RightReversed &copy; <a href="https://github.com/TKdevlop/ShoppingCart-Nodejs" class="btn-btn-link"><i class="fab fa-github"></i></a>
</footer>

